<!DOCTYPE html>
<html lang="en">
<head>
<title>About Us - About Us | BizSolutions - Free Website Template from Templates.com</title>
<meta name="description" content="Place your description here">
<meta name="keywords" content="put, your, keyword, here">
<meta name="author" content="Templates.com - website templates provider">
<meta charset="utf-8">
<link rel="stylesheet" href="css/reset.css" type="text/css" media="all" />
<link rel="stylesheet" href="css/layout.css" type="text/css" media="all" />
<link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
<script type="text/javascript" src="js/jquery-1.4.2.min.js" ></script>
<script type="text/javascript" src="js/script.js"></script>
</head>
<body id="page2">
<div class="tail-bottom">
	<div id="main">
<!-- header -->
		<header>
			<div class="nav-box">
				<nav>
					<ul class="fright">
						<li><a href="index"><img src="styles/images/pic-home-act.gif"></a></li>
						<li><a href="contact-us"><img src="styles/images/pic-mail.gif"></a></li>
						<li><a href="sitemap"><img src="styles/images/pic-sitemap.gif"></a></li>
					</ul>
					<ul>
						<li><a href="index">Inicio</a></li>
						<li>
						<a>Mudanzas</a>
						<% if (session.authenticated) { %>		
						<a href="Mudanzas"></a>
						<% } %>
						</li>
						<li><a href="Empleate">Empléate</a></li>
						<% if (session.authenticated) { %>
						<li><a href="usuarioLogeado">Perfil</a></li>
						<% } %>
						<!--<li><a href="Login">Login</a></li>-->
						<!--<li><a href="Registrate">Regístrate</a></li>-->
					</ul>
				</nav>
			</div>
		</header>
		<hr>
		<div class="wrapper indent">
<!-- content -->
		<section id="content"><div class="ic"></div>
		<div class="inside">
<% var id = req.param('idq'); %>
<% console.log(id); %>
<!--=========================QUERY 1===========================-->
<% if(id == 1) { %><p style="font-size: 120%"><b>ENUNCIADO N° 1</b></p><br>
<H2>Películas de 3 actores específicos, de 2 categorías específicas, con cantidad de ciudades en las que se mostrarán, su descripción y si son en inglés (true/false).</H2>
	<div class="form-group">
		<div class="col-sm-10 col-sm-offset-2" style="margin-left: 6cm">
			 <button type="submit" class="btn btn-primary" onclick="obtenerQuery1()">Consultar</button>
		</div>
	</div>
	<br><br>
	<div id=query1 style="display:none">
	<p><b>#Tuplas: <%= query1.length %></b></p>
	<table class="table table-striped">
    <thead>
      <tr>
      	<th>Película</th>
        <th>Nombre del actor</th>
        <th>Categoría</th>
        <th>Inglés</th>
        <th>Descripción</th>
        <th>Ciudades</th>
      </tr>
    </thead>
    <tbody>
    <% query1.forEach(function(q1) { %>
      <tr>
      <th><%= q1.Pelicula %></th>
      <th><%= q1.NombreActor %></th>
      <th><%= q1.Categoria %></th>
      <th><%= q1.Ingles %></th>
      <th><%= q1.Descripcion %></th>
      <th><%= q1.Ciudades %></th>
      </tr>
    <% }); %>  
    </tbody>
  </table>
	</div>
	<script>
		function obtenerQuery1()
		{
			document.getElementById('query1').style.display = "block";
		}
	</script>
<!--=========================QUERY 2===========================-->	
<% } else if(id == 2) { %><p style="font-size: 120%"><b>ENUNCIADO N° 2</b></p><br>
<H2>Quién de los empleados rentó más películas, la cantidad y el total de ganancia generada por ese empleado.</H2>
	<div class="form-group">
		<div class="col-sm-10 col-sm-offset-2" style="margin-left: 6cm">
			 <button type="submit" class="btn btn-primary" onclick="obtenerQuery2()">Consultar</button>
		</div>
	</div><br><br>
	<div id=query2 style="display:none">
	<p><b>#Tuplas: <%= query2.length %></b></p>
	<table class="table table-striped">
    <thead>
      <tr>
      	<th>Nombre y apellido del empleado</th>
        <th>Rentas totales</th>
        <th>Ganancia total</th>
      </tr>
    </thead>
    <tbody>
    <% query2.forEach(function(q2) { %>
      <tr>
      <th><%= q2.Empleado %></th>
      <th><%= q2.RentasTotales %></th>
      <th><%= q2.GananciaTotal %></th>
      </tr>
    <% }); %>  
    </tbody>
  </table>
	</div>
	<script>
		function obtenerQuery2()
		{
			document.getElementById('query2').style.display = "block";
		}
	</script>
<!--=========================QUERY 3===========================-->	
<% } else if(id == 3) { %><p style="font-size: 120%"><b>ENUNCIADO N° 3</b></p><br>
<H2>Lista de películas que nunca han sido rentadas.</H2>
	<div class="form-group">
		<div class="col-sm-10 col-sm-offset-2" style="margin-left: 6cm">
			 <button type="submit" class="btn btn-primary" onclick="obtenerQuery3()">Consultar</button>
		</div>
	</div><br><br>
	<div id=query3 style="display:none">
	<p><b>#Tuplas: <%= query3.length %></b></p>
	<table class="table table-striped">
    <thead>
      <tr>
      	<th>Películas que nunca han sido rentadas</th>
      </tr>
    </thead>
    <tbody>
    <% query3.forEach(function(q3) { %>
      <tr>
      <th><%= q3.PeliculasNuncaRentadas %></th>
      </tr>
    <% }); %>  
    </tbody>
  </table>
	</div>
	<script>
		function obtenerQuery3()
		{
			document.getElementById('query3').style.display = "block";
		}
	</script>
<!--=========================QUERY 4===========================-->	
<% } else if(id == 4) { %><p style="font-size: 120%"><b>ENUNCIADO N° 4</b></p><br>
<H2>Listado de clientes con más de 3 días de retraso en la devolución de la película.</H2>
	<div class="form-group">
		<div class="col-sm-10 col-sm-offset-2" style="margin-left: 6cm">
			 <button type="submit" class="btn btn-primary" onclick="obtenerQuery4()">Consultar</button>
		</div>
	</div><br><br>
	<div id=query4 style="display:none">
	<p><b>#Tuplas: <%= query4.length %></b></p>
	<table class="table table-striped">
    <thead>
      <tr>
      	<th>Cliente</th>
      </tr>
    </thead>
    <tbody>
    <% query4.forEach(function(q4) { %>
      <tr>
      <th><%= q4.Cliente %></th>
      </tr>
    <% }); %>  
    </tbody>
  </table>
	</div>
	<script>
		function obtenerQuery4()
		{
			document.getElementById('query4').style.display = "block";
		}
	</script>	
<!--=========================QUERY 5===========================-->	
<% } else { %><p style="font-size: 120%"><b>ENUNCIADO N° 5</b></p><br>
<H2>Lista de clientes VIP, entendiendo que los VIP son aquellos clientes que han rentado películas semanalmente durante al menos 3 meses.</H2>
	<div class="form-group">
		<div class="col-sm-10 col-sm-offset-2" style="margin-left: 6cm">
			 <button type="submit" class="btn btn-primary">Consultar</button>
		</div>
	</div>
<% } %>			
		</div>
		</section>
<!-- aside -->
			<aside>
				<div class="inside">
					<ul class="insurance">
						<li><strong>¿Necesita trabajo?</strong>Regístrate y postúlate.</li>
					</ul>
					<h2><span>Nuestros</span> servicios</h2>
					<ul class="services">
						<li><a href="#"></a>Prestamos servicios de mudanza.</li>
						<li><a href="#">Prestamos servicios de traslados.</li>
						<li><a href="#">Ofrecemos Empleos.</a></li>
						<li><a href="#">Geolocalización.</a></li>
						
					</ul>
					
				</div>
			</aside>
		</div>
<!-- footer -->
		<footer>
			<div class="inside">
				<a rel="nofollow" class="new_window">Muévelo.</a> Desarrollado por Alustiza, Ricardo. Brito, Ramón. Carrione, Willmer y Maldonado, Carlos<br/><class="new_window"><i>Cualquier intento de plagio es penalizado por la ley</i>
			</div>
		</footer>
	</div>
</div>
</body>
</html>